@page "/Personas"
@page "/Personas/{PersonaId:int}"

@using BLL
@using Models
@inject IToastService Toast

<EditForm Model="Personas" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header">
            <h3>Registro de Personas</h3>
        </div>
        <div class="card-body">
            <form>
                @*——————————————————————————————————————————————[ CLIENTE ID ]——————————————————————————————————————————————*@
                <div class="form-row align-items-center">
                    <div class="col">
                        <div class="form-group">
                            <label>PersonaId</label>
                            <div class="input-group">
                                <InputNumber @bind-Value="Personas.PersonaId" class="form-control col-4" min="0" />

                                @*——————————————————————————————————————————————[ BUSCAR ]——————————————————————————————————————————————*@
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-primary input-group-text" @onclick="Buscar">Buscar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*——————————————————————————————————————————————[ NOMBRE ]——————————————————————————————————————————————*@
                <div class="form-group">
                    <label>Nombres</label>
                    <InputText @bind-Value="Personas.Nombres" class="form-control" />
                    <ValidationMessage For="@(() => Personas.Nombres)" />
                </div>
                
            </form>
        </div>

        @*——————————————————————————————————————————————[ NUEVO / GUARDAR / ELIMINAR ]——————————————————————————————————————————————*@
        <div class="card-footer">
            <div class="form-group text-center" display: inline-block>
                <button type="button" class="btn btn-lg btn-primary" @onclick="Nuevo">Nuevo</button>
                <button type="submit" class="btn btn-lg btn-success" style="margin-inline-start: 40px;">Guardar</button>
                <button type="button" class="btn btn-lg btn-danger" @onclick="Eliminar" style="margin-inline-start: 40px;">Eliminar</button>
            </div>
        </div>
    </div>
</EditForm>

@*——————————————————————————————————————————————[ CODIGO ]——————————————————————————————————————————————*@
@code {
    [Parameter]
    public int PersonaId { get; set; }

    private Personas Personas = new Personas();

    protected override void OnInitialized()
    {
        Nuevo();
        Buscar();
    }

    @*——————————————————————————————————————————————[ NUEVO ]——————————————————————————————————————————————*@
    public void Nuevo()
    {
        Personas = new Personas();
    }

    @*——————————————————————————————————————————————[ BUSCAR ]——————————————————————————————————————————————*@
    private void Buscar()
    {
        if (Personas.PersonaId > 0)
        {
            var encontrado = PersonasBLL.Buscar(Personas.PersonaId);

            if (encontrado != null)
                this.Personas = encontrado;
            else
                Toast.ShowWarning("Esta Id no pudo ser encontrada.");
            return;
        }
    }

    @*——————————————————————————————————————————————[ GUARDAR ]——————————————————————————————————————————————*@
    public void Guardar()
    {
        bool guardado;

        guardado = PersonasBLL.Guardar(Personas);

        if (guardado)
        {
            Nuevo();
            Toast.ShowSuccess("Registro Guardado exitosamente.");
        }
        else
            Toast.ShowError("No fue posible Guardar este Registro.");
        return;
    }

    @*——————————————————————————————————————————————[ ELIMINAR ]——————————————————————————————————————————————*@
    public void Eliminar()
    {
        bool eliminado;

        eliminado = PersonasBLL.Eliminar(Personas.PersonaId);

        if (eliminado)
        {
            Nuevo();
            Toast.ShowSuccess("Registro Eliminado exitosamente.");
        }
        else
            Toast.ShowError("No fue posible Eliminar este Registro.");
        return;
    }
}
